In [99]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

df = pd.read_csv("cleaned_data_with_region_and_price_per_m2.csv")
print(display(df.head()))

,Unnamed: 0,Property ID,Locality data,Price,Property type,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Open fire,Terrace surface m²,Garden area m²,Swimming pool,Building condition,Price per m²,Region,Province
0,9333,20135745,8300,999999,apartment,2.0,118.0,0,0,1,NaN,NaN,0,As new,8474.567797,Flanders,West Flanders
1,1737,20206578,4140,999999,house,13.0,778.0,1,0,1,443.0,NaN,0,Good,1285.345758,Wallonia,Liège
2,7967,20135600,8300,999999,apartment,2.0,118.0,0,0,1,NaN,NaN,0,As new,8474.567797,Flanders,West Flanders
3,2563,20234889,1851,999000,house,4.0,345.0,1,1,1,15.0,NaN,0,Good,2895.652174,Flanders,Flemish Brabant
4,5435,20215434,1160,997000,apartment,3.0,144.0,0,0,1,43.0,NaN,0,As new,6923.611111,Brussels,Brussels

None

## Preprocessing
1. First drop irrelevant features.
2. Since dropped the columns for Terrace and Garden area, do not need to impute missing values.
3. Label encode 'Building condition'
3. Turn categorical features into binary/numeric ('house'/'apartment', 'province') - onehot encoder

In [83]:
# Transforming qualitative into numerical. Encoded building condition ranges from 0 - 5:
# ['As new' 'Good' 'To be done up' 'Just renovated' 'To renovate' 'To restore']

label_encoder_property_type = LabelEncoder()
label_encoder_condition = LabelEncoder()
df['Encoded Building Condition'] = label_encoder_condition.fit_transform(df['Building condition'])
display(df.head(20))

,Unnamed: 0,Property ID,Locality data,Price,Property type,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Open fire,Terrace surface m²,Garden area m²,Swimming pool,Building condition,Price per m²,Region,Province,Encoded Building Condition
0,9333,20135745,8300,999999,apartment,2.0,118.0,0,0,1,NaN,NaN,0,As new,8474.567797,Flanders,West Flanders,0
1,1737,20206578,4140,999999,house,13.0,778.0,1,0,1,443.0,NaN,0,Good,1285.345758,Wallonia,Liège,1
2,7967,20135600,8300,999999,apartment,2.0,118.0,0,0,1,NaN,NaN,0,As new,8474.567797,Flanders,West Flanders,0
3,2563,20234889,1851,999000,house,4.0,345.0,1,1,1,15.0,NaN,0,Good,2895.652174,Flanders,Flemish Brabant,1
4,5435,20215434,1160,997000,apartment,3.0,144.0,0,0,1,43.0,NaN,0,As new,6923.611111,Brussels,Brussels,0
5,1004,20226523,8420,995000,house,4.0,568.0,0,0,1,NaN,NaN,0,Good,1751.760563,Flanders,West Flanders,1
6,2136,20207321,1150,995000,house,5.0,339.0,0,0,1,NaN,NaN,0,As new,2935.103245,Brussels,Brussels,0
7,6077,20238340,1040,995000,apartment,3.0,220.0,0,0,1,25.0,NaN,0,As new,4522.727273,Brussels,Brussels,0
8,2747,20161968,2000,995000,house,5.0,398.0,1,0,1,13.0,78.0,0,Good,2500.000000,Flanders,Antwerp,1
9,8480,10626636,8301,995000,apartment,3.0,100.0,0,0,1,NaN,NaN,0,As new,9950.000000,Flanders,West Flanders,0
10,8479,20007558,8300,995000,apartment,2.0,67.0,0,0,1,NaN,NaN,0,Good,14850.746269,Flanders,West Flanders,1
11,8655,11040394,1150,995000,apartment,3.0,185.0,0,0,1,14.0,82.0,0,As new,5378.378378,Brussels,Brussels,0
12,200,20144173,1180,995000,house,6.0,294.0,1,0,1,120.0,240.0,0,Good,3384.353741,Brussels,Brussels,1
13,3878,10803929,8500,995000,house,3.0,260.0,0,0,1,40.0,NaN,0,As new,3826.923077,Flanders,West Flanders,0
14,1826,20237694,9000,995000,house,4.0,403.0,0,0,1,NaN,NaN,0,As new,2468.982630,Flanders,East Flanders,0
15,1175,20221420,1160,995000,house,5.0,265.0,0,0,1,NaN,500.0,0,To be done up,3754.716981,Brussels,Brussels,3
16,6640,20168762,1180,995000,apartment,5.0,400.0,1,0,1,88.0,370.0,0,To be done up,2487.500000,Brussels,Brussels,3
17,931,20246669,1200,995000,house,5.0,298.0,0,0,1,7.0,45.0,0,As new,3338.926174,Brussels,Brussels,0
18,2704,11434981,1950,995000,house,4.0,243.0,0,0,1,24.0,500.0,0,As new,4094.650206,Flanders,Flemish Brabant,0
19,785,20246454,3910,995000,house,4.0,454.0,0,0,1,NaN,NaN,0,As new,2191.629956,Flanders,Limburg,0

In [84]:
# Drop unnecessary columns not needed for the model
df = df.drop(['Property ID', 'Open fire', 'Unnamed: 0', 'Locality data', 'Region', 'Price per m²', 'Terrace surface m²', 'Garden area m²', 'Building condition'], axis=1)
display(df.head(10))

,Price,Property type,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Swimming pool,Province,Encoded Building Condition
0,999999,apartment,2.0,118.0,0,0,0,West Flanders,0
1,999999,house,13.0,778.0,1,0,0,Liège,1
2,999999,apartment,2.0,118.0,0,0,0,West Flanders,0
3,999000,house,4.0,345.0,1,1,0,Flemish Brabant,1
4,997000,apartment,3.0,144.0,0,0,0,Brussels,0
5,995000,house,4.0,568.0,0,0,0,West Flanders,1
6,995000,house,5.0,339.0,0,0,0,Brussels,0
7,995000,apartment,3.0,220.0,0,0,0,Brussels,0
8,995000,house,5.0,398.0,1,0,0,Antwerp,1
9,995000,apartment,3.0,100.0,0,0,0,West Flanders,0

#### OneHotEncoder

In [85]:
def one_hot_encode_columns(df, columns_to_encode):
    """
    One-hot encode the specified columns in the DataFrame.
    Parameters:
    df (DataFrame): The original DataFrame
    columns_to_encode (list): List of columns to be one-hot encoded
    Returns:
    DataFrame: The DataFrame with the specified columns one-hot encoded and added.
    """
    for column in columns_to_encode:   
        column_data = df[[column]]
        encoder = OneHotEncoder(sparse_output=False)
        encoded_data = encoder.fit_transform(column_data) # fit_transform applies the encoder
        encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out([column]))
        df = pd.concat([df, encoded_df], axis=1)
        df = df.drop(column, axis=1)
    return df # return outside the loop to process all columns before returning updated DataFrame
    
columns_to_encode = ['Property type', 'Province']
df = one_hot_encode_columns(df, columns_to_encode) # update the df on each iteration

df.head(10)

,Price,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Swimming pool,Encoded Building Condition,Property type_apartment,Property type_house,Province_Antwerp,Province_Brussels,Province_East Flanders,Province_Flemish Brabant,Province_Hainaut,Province_Limburg,Province_Liège,Province_Luxembourg,Province_Namur,Province_Walloon Brabant,Province_West Flanders
0,999999,2.0,118.0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,999999,13.0,778.0,1,0,0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,999999,2.0,118.0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,999000,4.0,345.0,1,1,0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,997000,3.0,144.0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,995000,4.0,568.0,0,0,0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,995000,5.0,339.0,0,0,0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,995000,3.0,220.0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,995000,5.0,398.0,1,0,0,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,995000,3.0,100.0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [86]:
df.head(10)

,Price,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Swimming pool,Encoded Building Condition,Property type_apartment,Property type_house,Province_Antwerp,Province_Brussels,Province_East Flanders,Province_Flemish Brabant,Province_Hainaut,Province_Limburg,Province_Liège,Province_Luxembourg,Province_Namur,Province_Walloon Brabant,Province_West Flanders
0,999999,2.0,118.0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,999999,13.0,778.0,1,0,0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,999999,2.0,118.0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,999000,4.0,345.0,1,1,0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,997000,3.0,144.0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,995000,4.0,568.0,0,0,0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,995000,5.0,339.0,0,0,0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,995000,3.0,220.0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,995000,5.0,398.0,1,0,0,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,995000,3.0,100.0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### Spilt data set

Split your data into train and test.

random_state=41 ensures reproducibility. Will produce the same output, doesnt change the different test and train columns 

test_size=0.2 means 20% of the data will be used for testing and the other 80% will be used for training.

In [90]:
y = df['Price'] # Target variable
X = df.drop(columns=['Price']) # All other column features in df after dropping the target
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=41, test_size=0.2) # Get 4 parameters back
print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")

X_train shape: (6684, 19)
X_test shape: (1672, 19)

In [91]:
# Ensure no missing values are present
print(df.isnull().sum())

Price                         0
Number of bedrooms            0
Living area m²                0
Equipped kitchen              0
Furnished                     0
Swimming pool                 0
Encoded Building Condition    0
Property type_apartment       0
Property type_house           0
Province_Antwerp              0
Province_Brussels             0
Province_East Flanders        0
Province_Flemish Brabant      0
Province_Hainaut              0
Province_Limburg              0
Province_Liège                0
Province_Luxembourg           0
Province_Namur                0
Province_Walloon Brabant      0
Province_West Flanders        0
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'feature_names'


### Standardize dataset features
Use numpy's mean and standard deviation functions to standardize each feature of the training and testing set. These are `np.mean()` and `np.std()`.

Standardizing is important in models like linear regression, logistic regression, SVM, k-nearest neighbors (KNN), and neural networks as they are sensitive to the scale of the input features. Scale means the range and distribution of values for different features (columns) in your dataset. e.g. Size in sq meters could range from 20-500, while number of rooms might range from 1 to 10.

One reason to use mean and stdev from trained dataset is the test set is meant to represent unseen data. By applying the mean and standard deviation from the training set, you are simulating how the model will perform in a real-world situation, where new data will be standardized based on the parameters of the data the model was trained on.

In [98]:
# axis=0 are the columns
mean = np.mean(X_train, axis=0)
std = np.std(X_train, axis=0)

# Standardize training and testing set using the mean and standard deviation from the training set
X_train_standardization = (X_train - mean) / std
X_test_standardization = (X_test - mean) / std # Important to use the training mean and std for the test set

print(display(X_train_standardization.head()))
print(display(X_test_standardization.head()))

,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Swimming pool,Encoded Building Condition,Property type_apartment,Property type_house,Province_Antwerp,Province_Brussels,Province_East Flanders,Province_Flemish Brabant,Province_Hainaut,Province_Limburg,Province_Liège,Province_Luxembourg,Province_Namur,Province_Walloon Brabant,Province_West Flanders
2542,1.751085,0.600095,-0.801915,-0.20118,-0.132896,-1.084831,-0.977805,0.977805,-0.363738,-0.484802,1.927091,-0.282808,-0.193404,-0.100625,-0.335987,-0.195887,-0.155598,-0.192987,-0.440694
4191,0.154869,-0.424523,-0.801915,-0.20118,-0.132896,-1.084831,-0.977805,0.977805,-0.363738,-0.484802,-0.518917,-0.282808,-0.193404,-0.100625,-0.335987,-0.195887,-0.155598,-0.192987,2.269148
4839,-0.643239,-0.467665,1.247015,-0.20118,-0.132896,-0.306742,1.022699,-1.022699,-0.363738,2.062697,-0.518917,-0.282808,-0.193404,-0.100625,-0.335987,-0.195887,-0.155598,-0.192987,-0.440694
1587,2.549193,2.476762,-0.801915,-0.20118,-0.132896,2.027525,-0.977805,0.977805,2.749229,-0.484802,-0.518917,-0.282808,-0.193404,-0.100625,-0.335987,-0.195887,-0.155598,-0.192987,-0.440694
3968,0.952977,0.168677,-0.801915,-0.20118,-0.132896,-0.306742,-0.977805,0.977805,-0.363738,-0.484802,1.927091,-0.282808,-0.193404,-0.100625,-0.335987,-0.195887,-0.155598,-0.192987,-0.440694

None

,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Swimming pool,Encoded Building Condition,Property type_apartment,Property type_house,Province_Antwerp,Province_Brussels,Province_East Flanders,Province_Flemish Brabant,Province_Hainaut,Province_Limburg,Province_Liège,Province_Luxembourg,Province_Namur,Province_Walloon Brabant,Province_West Flanders
6526,0.154869,0.546167,-0.801915,-0.20118,-0.132896,2.805615,-0.977805,0.977805,-0.363738,-0.484802,-0.518917,-0.282808,-0.193404,-0.100625,2.976308,-0.195887,-0.155598,-0.192987,-0.440694
4330,-0.643239,-0.715730,-0.801915,-0.20118,-0.132896,-1.084831,1.022699,-1.022699,-0.363738,-0.484802,-0.518917,3.535962,-0.193404,-0.100625,-0.335987,-0.195887,-0.155598,-0.192987,-0.440694
4739,-0.643239,-0.769657,1.247015,-0.20118,-0.132896,1.249436,1.022699,-1.022699,2.749229,-0.484802,-0.518917,-0.282808,-0.193404,-0.100625,-0.335987,-0.195887,-0.155598,-0.192987,-0.440694
4151,0.154869,0.006895,1.247015,-0.20118,-0.132896,-0.306742,-0.977805,0.977805,-0.363738,-0.484802,1.927091,-0.282808,-0.193404,-0.100625,-0.335987,-0.195887,-0.155598,-0.192987,-0.440694
7497,0.154869,-0.208814,-0.801915,-0.20118,-0.132896,2.805615,1.022699,-1.022699,-0.363738,-0.484802,-0.518917,-0.282808,-0.193404,-0.100625,2.976308,-0.195887,-0.155598,-0.192987,-0.440694

None